<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Django-template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--CSS样式-->
    <style>
    </style>
    <base target="_blank">
</head>
<body>
<noscript>
    <div class="card" data-type="warn">⚠️ 请启用浏览器的 JavaScript 功能</div>
</noscript>

</body>
</html>