<!DOCTYPE html>
<html lang="zh-CN" nighteye="active" style="background-image: none !important;" ne="0.10867117665275039">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <meta name="description" content="项目信息码搜索引擎 - 构建可解析、可检索、可溯源的结构化知识体系。">
    <link rel="shortcut  icon" type="image/x-icon" href="{% static "codeinfo/images/favicon.ico" %}" media="screen"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>探极客DéΔδ</title>
</head>
<body data-layout="home">
<div class="container-fluid" id="curtain">
{#    <div style="text-align:center">#}
{#        <img class="img-fluid" src="{% static "codeinfo/images/platform4.png" %}" alt="platform" id="platform">#}
{#    </div>#}

    <header id="header">
        <div style="text-align:center">
            <img class="img-fluid" src="{% static "codeinfo/images/greengirl.jpg" %}" alt="navipic" id="platform" height="80" width="600">
        </div>
        <form style="text-align:center" id="search-form" action="search/" method="get" target="_self">
            {% csrf_token %}
            <div id="search-wrapper" data-focus="false">
                <div id="search-bar">
                    <input name="q" type="search" minlength="1" maxlength="20" title="Code Search" aria-label="搜索"
                           placeholder="请输入错误码"  size=70>
                    <input type="submit" class="btn btn-outline-primary" value="搜索" />
                </div>
                <ol id="search-suggestions"></ol>
            </div>
        </form>
    </header>
</div>
<div class="container-fluid" id="content">
    <div style="text-align:center">
        <section id="home">
            <div id="intro"><a>🎉 欢迎使用 CodeInfo, 右侧点击，有你想要</a>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">词条操作
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="add/">添加数据</a>
                    <a class="dropdown-item" href="delete/">删除数据</a>
                    <a class="dropdown-item" href="update/">修改数据</a>
                    <a class="dropdown-item" href="results/">查看所有数据</a>
                </div>
            </div>
        </section>
        <section id="result">
            <aside id="left">昨日更新{{ countlastday }}条</aside>
            <aside id="right">总计收录{{ countall }}条</aside>
        </section>
        <footer id="footer">
            <div>
                <span>© <a href="https://www.github.com/cangyunye">cangyunye</a></span>
                <span><a href="#">服务条款</a></span>
                <span><a href="#">使用帮助</a></span>
            </div>
            <div>
                <span><a class="tight" href="#" target="_blank" rel="nofollow">别找我备案</a></span>
                <span><a class="tight" href="#" target="_blank" rel="nofollow">我没有备案</a></span>
            </div>
        </footer>
    </div>
</div>
<noscript>
    <div class="card" data-type="warn">⚠️ 请启用浏览器的 JavaScript 功能</div>
</noscript>
</body>
</html>