<!DOCTYPE html>
<html lang="en">
<head>
    <title>更新数据</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .msgbox {
            width: 600px;
            height: 200px;
        }
    </style>

    <base target="_blank">
</head>
<body>
<h1>更新信息码数据</h1>

<form action="confirm/" method="POST" novalidate="novalidate">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row-cols-2">

            <label>模块<strong style="color: #c82333">*</strong>: <input list="modules" name="module"
                                                                       placeholder="APP"/></label>
            <datalist id="modules">
                <option value="APP">
                <option value="BI">
                <option value="CUSTOMER">
                <option value="DESIGN">
                <option value="ENGINE">
            </datalist>
            <label>源文件名<strong style="color: #c82333">*</strong>: <input type="text" name="source"
                                                                         placeholder="upload.cpp"
                                                                         size="40"/></label>
            <label>告警错误码<strong style="color: #c82333">*</strong>: <input type="text" name="errcode"
                                                                          placeholder="ERROR_STD_001" size="50">
            </label>
            <input class="btn btn-success" type="submit" value="更新"/>


        </div>

    </div>
    <div class="container-fluid">
        <div class="row-cols-2">
            <label>告警属性: <br/><textarea class="msgbox" name="errattr"> </textarea></label>
            <label>告警参数: <br/><textarea class="msgbox" name="errpara"> </textarea></label>
            <label>对系统的影响:<br/><textarea class="msgbox" name="syseffect"> </textarea></label>
            <label>系统自处理过程: <br/><textarea class="msgbox" name="sysproc"> </textarea></label>

            <label>可能原因: <br/> <textarea class="msgbox" name="cause"> </textarea></label>
            <label>处理步骤: <br/><textarea class="msgbox" name="procstep"> </textarea></label>
        </div>
    </div>


</form>
</body>
</html>